charset "UTF-8"; 
/* Stephen Manz's CSS Document.  
Colors: 
Dark Red: #8C2A1F 
Black: #000 
Grey: #86816F 
Desert Red (i guess): #6F5F45 
Brownish Something: 86624D 
*/ 



html{ 
    background-color: #FFF; 
} 

body{
    width: 761px; 
    margin: 1.5em auto;
    border-color: #86624D; 
    border-style: solid; 
    border-width: 5px; 
    -webkit-border-radius: 2.5px; 
    -moz-border-radius: 2.5px; 
    border-radius: 2.5px; 
    padding: 50px; 
    color: #7C4747; 
} 

#nav a:hover { 
    text-decoration: none; 
    color: #BCBCBC; 
} 

ul{
    text-align: center;
}

ul#nav { 
    margin: 0; 
} 

a:link{ 
  font-weight: bold; 
  text-decoration: none; 
} 

a:active{ 
    background-color: #000; 
} 

a:hover{ 
    text-decoration: underline; 
    color: #006; 
    background-color: #803435; 
} 

a:visited{ 
    color: #702D2E; 
} 
